
<div id="sideBar" class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <span class="d-flex mb-3 mb-md-0 me-md-auto link-dark fs-4 center">
      Country App
    </span>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li
      *ngFor="let option of options"
      [routerLink]= "option.path"
      class="nav-item">
      <span routerLinkActive="active text-light" class="nav-link text-dark" role="button" aria-current="page">
        {{option.option}}
      </span>
    </li>
  </ul>
  <hr>
</div>
