
<div
  *ngIf="data.length == 0; else table"
  class="alert alert-warning center"
  role="alert">
  No results found!
</div>

<ng-template #table>
  <table
    class="table table-bordered table-hover">
    <thead>
      <tr>
        <th
        *ngFor="let item of data;"
        scope="col">{{ item.header }}</th>
      </tr>
    </thead>
    <tbody>
      <td
        *ngFor="let item of data; index as i;">
          <tr
           *ngFor="let headerList of data[i].headerItemList"
           class="w-100">
             {{ headerList }}
          </tr>
      </td>
    </tbody>
  </table>
</ng-template>

