
<div
  *ngIf="data.length == 0; else table"
  class="alert alert-warning center"
  role="alert">
  No results found!
</div>

<ng-template #table>
  <table class="table table-bordered table-hover table-striped align-middle center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Flags</th>
        <th scope="col">Country</th>
        <th scope="col">Capital</th>
        <th scope="col">Region</th>
        <th scope="col">Population</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; index as i;">
        <th scope="row">{{ i + 1 }}</th>
        <td> <img [src]="item.flags.svg"
          [alt]="item.flags.alt"
          title="{{item.name.common + ' flag'}}">
        </td>
        <td>{{ item.name.common }}</td>
        <td>{{ item.capital }}</td>
        <td>{{ item.region }}</td>
        <td>{{ item.population | number }}</td>
        <td>
          <a
            class="btn btn-outline-primary">
             Details
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

